<!DOCTYPE html>
<html>
  <head>
    <title>Veggie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/b0fd2b0fe8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kaisei+Decol:wght@400;500&family=Kaisei+HarunoUmi&family=M+PLUS+1p&family=Yomogi&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kaisei+Decol:wght@400;500&family=Kaisei+HarunoUmi&family=M+PLUS+1p:wght@900&family=Poiret+One&family=Yomogi&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jost:ital,wght@0,100..900;1,100..900&family=Kaisei+Decol:wght@400;500&family=Kaisei+HarunoUmi&family=M+PLUS+1p:wght@900&family=Poiret+One&family=Yomogi&display=swap" rel="stylesheet">

  </head>

  <body>
  <header>

  <div class="title">
  <div class="title1">
  Veggie Voyage
   </div>

   
    
     <% if user_signed_in? %>
      <%= button_to t("submit_button.logout"), destroy_user_session_path, method: :delete %>
     <% else %>
      <%= link_to t('links.join'), new_user_registration_path %>
      <%= link_to t('links.back'), new_user_session_path %>
     <% end %>
     
     <% if I18n.locale.to_s == "en" %>
     <%= link_to('日本語', locale: 'ja') %>
     <% else %>
     <%= link_to('English', locale: 'en') %>
     <% end %>
     
    


  
</div>

  </header>
  <main>
   <%= yield %>
  </main>
  
  <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
 </body>

</html>
